extends ./layout

block body
 h1 this block is inside index.jade
 if(authenticated)
  p welcome back,#{me.first)
  a(href ="/logout") logout
 else
  p welcome new visitors
  ul
   li: a(href="/login")login
   li: a(href="/singup") Signup

