extends layout

block body
  if(signupEmail)
  p Congratulations on singing up please login blow
  form(action ="/login",method = "POST")
  fieldset
   legend Log in
   p
    label Email
    input(name="user[Email]",type="text",value= signupEmail)
   p
    label Password
    input(name="user[password]",type="text")
   p
    button submit
   p
    a(href ="/") Go home
