<h1> rendering  ejs format html page</h1>
<p>plase enter search</p>

<form action ='/search ' method = 'GET'>
  <input type= 'text' name = 'q'>
  <button>search</button>

</form >
<ul>
  <li>
    <a href ='http://localhost:3000/send'>send</a>
  </li>
  <li>

    <a href ='http://localhost:3000/json'>json</a>
  </li>
  <li>

    <a href ='http://localhost:3000/redirect'>redirect</a>
  </li>
  <li>
    <a href ='http://localhost:3000/sendfile'>sendfile</a>

  </li>
  <li>
    <a href ='http://localhost:3000/googleapi'>googleapi</a>

  </li>
</ul>
