<html>
<head>
<title>ejs manipulations</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js">
</script>


</head>
<body>
    <h1>This is to get data from server side and template</h1>
    <p> <%= dis %></p>
</body>
</html>
